
<div class="modal inmodal" id="modal-consultas" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">

                    <div class="row p-md">

                        <span class="btn btn-default inputFile" style="width: 100%; margin-bottom:20px" onclick="newReuniaoPaciente()" aria-hidden="true">Adicionar</span>


                        <table id="table-consultas" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-reunioes" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs" id="form-reuniao">
                    <div class="row p-h-xs">
                        <input type="hidden" id="reuniao-id" />
                        <div class="col-sm-12 p-w-md text-center">
                            <h5>Data</h5>

                            <input type="text" class="form-control full-date-time required" id="reuniao-data" data-field="Data da Reunião" />
                        </div>
                        <div class="col-sm-12 p-w-md text-center">
                            <h5>Paciente</h5>

                            <select class="chosen-select" data-field="Paciente" id="participantes"></select>
                        </div>
                        <div class="col-sm-12 p-w-md text-center">
                            <h5>Marcadores</h5>
                            <select class="form-control reuniao-marcadores" id="reuniao-marcadores" multiple="multiple" style="width: 100%">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md m-t-md text-center conteudo-reuniao">
                            <h5>Conteúdo</h5>

                            <textarea class="form-control" id="reuniao-conteudo" name="reuniao-conteudo"></textarea>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right m-l-sm delete-button" onclick="DeleteReuniao()">Excluir</button>
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-white pull-right" onclick="PostReuniao()">Salvar</button>
                    <button type="button" class="btn btn-primary pull-right m-l-sm pagamento-button" onclick="ConsultaPagamentos()">Pagamentos</button>
                    <button type="button" class="btn btn-info pull-right m-l-sm anexos-button" onclick="ConsultaAnexos()">Anexos</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-anexos-consulta" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">

                    <div class="row p-md">
                        <form enctype="multipart/form-data" id="frm-upload-arquivo-modal-consulta" method="post" novalidate="novalidate">
                            <input type="hidden" name="ReuniaoEventoId" id="ReuniaoEventoId" />
                            <label for="arquivo-modal-consulta" style="width: 100%;" class="inputFile">
                                <span class="btn btn-default inputFile" style="width: 100%;" aria-hidden="true">Adicionar</span>
                                <input style="display: none;" class="custom-file-input inputFile" id="arquivo-modal-consulta" name="arquivo-modal-consulta" type="file" value="">
                            </label>
                        </form>
                        <table id="table-anexos-consulta" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Arquivo</th>
                                    <th>Extensão</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<style>

    .fc .fc-button-group > .fc-button {
        padding: 2px 10px;
    }

    .fc-event-time, .fc-event-title, .fc-event, .fc-agenda .fc-event-time, .fc-event a {
        color: white !important;
    }

    .fc-list-event-time, .fc-list-event-graphic {
        display: none
    }

    .fc-timegrid-event-harness-inset .fc-timegrid-event {
        height: fit-content;
    }
</style>

<script>
    pacienteId = undefined
    function newReuniaoPaciente() {
        EditReuniao(0, undefined, pacienteId)
    }

    function carregarEtiquetas() {
        $.ajax({
            url: '/Etiqueta/GetEtiquetasByEventoId',
            data: { eventoId: $("#reuniao-eventoid-consulta").val() || $("#eventoid").val() || $("#participante-eventoid").val() },
            datatype: "json",
            type: "POST",
            success: (result) => {
                $("#reuniao-marcadores").html(`
${result.data.map(p => `<option data-cor="${p.Cor}" value=${p.Id}>${p.Nome}</option>`)}
`)
                $('#reuniao-marcadores').select2({ dropdownParent: $("#form-reuniao") });
            }
        });
    }

    function CarregarTableConsultas(id) {
        if (id) {
            pacienteId = id

        }
        const tableConsultasConfig = {
            language: languageConfig,
            lengthMenu: [200, 500, 1000],
            colReorder: false,
            serverSide: false,
            deferloading: 0,
            orderCellsTop: true,
            fixedHeader: true,
            filter: true,
            orderMulti: false,
            responsive: true, stateSave: true, stateSaveCallback: stateSaveCallback, stateLoadCallback: stateLoadCallback,
            destroy: true,
            dom: domConfigNoButtons,
            columns: [
                { data: "DataReuniao", name: "DataReuniao", autoWidth: true },
                {
                    data: "Id", name: "Id", orderable: false, width: "15%",
                    "render": function (data, type, row) {
                        return `                         ${GetButton('EditReuniao', data, 'blue', 'fa-edit', 'Editar')}
                            ${GetButton('DeleteReuniao', data, 'red', 'fa-trash', 'Excluir')}`;
                    }
                }
            ],
            order: [
                [0, "asc"]
            ],
            ajax: {
                url: '/Consulta/GetReunioesByPaciente',
                data: { pacienteId },
                datatype: "json",
                type: "POST"
            }
        };
        $("#table-consultas").DataTable(tableConsultasConfig);
        $("#modal-consultas").modal();
    }

    function ConsultaPagamentos() {
        Pagamentos({ Id: $("#reuniao-id").val() })
    }

    function ConsultaAnexos() {
        AnexosConsulta($("#reuniao-id").val())
    }

    function AnexosConsulta(id) {
        $("#ReuniaoEventoId").val(id);
        GetAnexosConsulta(id);
        $("#modal-anexos-consulta").modal();
    }

    function changeArquivoConsulta() {

        $("#arquivo-modal-consulta").change(function () {
            PostArquivoConnsulta();
        });
    }

    function PostArquivoConnsulta() {

        var dataToPost = new FormData($('#frm-upload-arquivo-modal-consulta')[0]);
        var filename = dataToPost.get('arquivo-modal-consulta').name

        var arquivo = new File([dataToPost.get('arquivo-modal-consulta')], filename);

        dataToPost.set('Arquivo', arquivo)
        $.ajax(
            {
                processData: false,
                contentType: false,
                type: "POST",
                data: dataToPost,
                url: "/Arquivo/PostArquivo",
                success: function () {
                    GetAnexosConsulta()

                }
            });
    }

    function GetAnexosConsulta() {
        const tableArquivoConfig = {
            language: languageConfig,
            lengthMenu: [200, 500, 1000],
            colReorder: false,
            serverSide: false,
            deferloading: 0,
            orderCellsTop: true,
            fixedHeader: true,
            filter: true,
            orderMulti: false,
            responsive: true, stateSave: true, stateSaveCallback: stateSaveCallback, stateLoadCallback: stateLoadCallback,
            destroy: true,
            dom: domConfigNoButtons,
            columns: [
                { data: "Nome", name: "Nome", autoWidth: true },
                { data: "Extensao", name: "Extensao", autoWidth: true },
                {
                    data: "Id", name: "Id", orderable: false, width: "15%",
                    "render": function (data, type, row) {
                        return `${GetButton('GetArquivoConsulta', data, 'blue', 'fa-download', 'Download')}
                            ${GetButton('DeleteArquivoConsulta', data, 'red', 'fa-trash', 'Excluir')}`;
                    }
                }
            ],
            order: [
                [0, "asc"]
            ],
            ajax: {
                url: '/Arquivo/GetArquivosConsulta',
                data: { id: $("#reuniao-id").val() },
                datatype: "json",
                type: "POST"
            }
        };

        $("#table-anexos-consulta").DataTable(tableArquivoConfig);
    }

    function GetArquivoConsulta(id) {
        window.open(`/Arquivo/GetArquivo/${id}`)
    }

    function DeleteArquivoConsulta(id) {
        ConfirmMessageDelete().then((result) => {
            if (result) {
                $.ajax({
                    url: "/Arquivo/DeleteArquivo/",
                    datatype: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(
                        {
                            Id: id
                        }),
                    success: function () {
                        SuccessMesageDelete();
                        GetAnexosConsulta();
                    }
                });
            }
        });
    }

    function GetReuniao(id, data, paciente) {
        if (id > 0) {
            $.ajax({
                url: "/Consulta/GetReuniao/",
                data: { Id: id },
                datatype: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#reuniao-id").val(data.Reuniao.Id);
                    $("#participantes").val(data.Reuniao.PacienteId).trigger("chosen:updated");
                    $(`#reuniao-conteudo`).summernote({
                        height: 300,
                        lang: 'pt-BR',
                        toolbar: [
                            ['style', ['bold', 'italic', 'underline', 'clear']],
                            ['font', ['strikethrough', 'superscript', 'subscript']],
                            ['fontsize', ['fontsize']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['height', ['height']],
                            ['insert', ['link']],
                            ['view', ['codeview']]],

                    }).summernote('code', data.Reuniao.Pauta)
                    $('.delete-button').css('display', 'block')
                    $('.pagamento-button').css('display', 'block')
                    $("#reuniao-titulo").val(data.Reuniao.Titulo),
                        $("#reuniao-data").val(data.Reuniao.DataReuniao);
                    $('#reuniao-marcadores').val(data.Reuniao.Etiquetas)
                    $('#reuniao-marcadores').select2({ dropdownParent: $("#form-reuniao") });
                }
            });
        }
        else {
            $('#reuniao-marcadores').val('')
            $('#reuniao-marcadores').select2({ dropdownParent: $("#form-reuniao") });
            $("#reuniao-id").val(0);
            $("#participantes").val(paciente > 0 ? paciente : "null").trigger("chosen:updated");
            $('.delete-button').css('display', 'none')
            $('.pagamento-button').css('display', 'none')
            $("#reuniao-data").val(data ?? moment().format('DD/MM/YYYY HH:mm'));
            $(`#reuniao-conteudo`).summernote({
                height: 300,
                lang: 'pt-BR',
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['link']],
                    ['view', ['codeview']]],

            }).summernote('code', "")
        }
    }

    function GetParticipantes(id) {
        $("#participantes").empty();
        $('#participantes').append($('<option value="null">Pesquisar</option>'));
        $.ajax({
            url: '/Participante/GetParticipantesSelect',
            data: { EventoId: $("#reuniao-eventoid-consulta").val() || $("#eventoid").val() || $("#participante-eventoid").val() },
            datatype: "json",
            type: "POST",
            success: (result) => {
                result.data.forEach(function (participante, index, array) {
                    if (participante.Status != Cancelado)
                        $('#participantes').append($(`<option value="${participante.Id}">${participante.Nome}</option>`));
                });
                $("#participantes").val(id > 0 ? id : "null").trigger("chosen:updated");
            }
        });
    }

    function EditReuniao(id, data, paciente) {
        GetReuniao(id, data, paciente);
        $("#modal-reunioes").modal();
    }

    function DeleteReuniao(id) {
        ConfirmMessageDelete().then((result) => {
            if (result) {
                $.ajax({
                    url: "/Consulta/DeleteReuniao/",
                    datatype: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(
                        {
                            Id: id || $("#reuniao-id").val()
                        }),
                    success: function () {
                        SuccessMesageDelete();
                        if (typeof carregarConsultas === "function") {
                            carregarConsultas();
                        }
                        $("#modal-reunioes").modal("hide");
                    }
                });
            }
        });
    }

    function PostReuniao() {
        if (ValidateForm(`#form-reuniao`)) {
            $.ajax({
                url: "/Consulta/PostReuniao/",
                datatype: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(
                    {
                        Id: $("#reuniao-id").val(),
                        EventoId: $("#reuniao-eventoid-consulta").val() || $("#eventoid").val() || $("#participante-eventoid").val(),
                        ParticipanteId: $('#participantes').val(),
                        Titulo: $("#reuniao-titulo").val(),
                        Pauta: $('#reuniao-conteudo').summernote('code'),
                        DataReuniao: moment($("#reuniao-data").val(), 'DD/MM/YYYY HH:mm', 'pt-br').toJSON(),
                        Etiquetas: $('#reuniao-marcadores').val()
                    }),
                success: function () {
                    SuccessMesageOperation();
                    if (typeof carregarConsultas === "function") {
                        carregarConsultas();
                    }
                    $("#modal-reunioes").modal("hide");
                }
            });
        }
    }




</script>

